<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="mb-4">New Todo</h1>
        <form action="/todos" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Todo Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Todo</button>
            <a href="/" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>